<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.hms.mapper.KafkaLogMapper">
	<insert id="insertLog" parameterType="KafkaLog">
		INSERT INTO t_kafka_log(jsondata, createtime, other1, other2)
		VALUES (#{jsondata}, NOW(), #{other1}, #{other2})
	</insert>
</mapper>