<div ng-controller="hotelFacController">
	<div class="memo-contrainer-bottom" hms-Affix>
		<div class="row">
			<div class="col-md-6">
				<h3 class="title">酒店设施</h3>
			</div>
			<div class="col-md-offset-3 col-md-3 text-center">
				<p>
				<a ng-click="printI2DimCodes()">打印二维码</a>
				</p>
				<div class="btn btn-success btn-danger" ng-show="!readOnly" ng-click="save()">
					<i class="glyphicon glyphicon-save"></i>
					保存
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-1 col-md-11 memo-contrainer">
				<form name="hotelFacForm">
					<p class="memo">配套设施（勾选酒店或周边拥有)</p>
					<div class="row">
						<div class="col-md-3" ng-repeat="item in tFacilityListType1">
							<label class="btn btn-success" for="tFacilityListType1_{{$index}}" ng-class="{'active':item.checked }">
								{{item.facName}}
								<input type="checkbox" ng-model="item.checked" id="tFacilityListType1_{{$index}}" style="display:none;"/>
								<i class="glyphicon glyphicon-ok" ng-show="item.checked"></i>
							</label>
							
						</div>
					</div>
					<p class="memo">配套服务（勾选酒店可提供的服务)</p>
					<div class="row">
						<div class="col-md-3" ng-repeat="item in tFacilityListType2">
							<label class="btn btn-success" for="tFacilityListType2_{{$index}}" ng-class="{'active':item.checked }">
								{{item.facName}}
								<input type="checkbox" ng-model="item.checked" id="tFacilityListType2_{{$index}}" style="display:none;"/>
								<i class="glyphicon glyphicon-ok" ng-show="item.checked"></i>
							</label>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg" id="hmsI2DimCodesModal" tabindex="-1" role="dialog" aria-labelledby="hmsI2DimCodesModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="hmsI2DimCodesModalLabel">{{thisHotel.hotelName}}</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="row" id="hmsI2DimCodesContain">
	      		<div class="hms-message-i2dimcode pull-left" ng-repeat="i2dimCode in printI2dimCodes">
	      			<img ng-src="{{getPrintI2dimCodeUrl(i2dimCode.content, i2dimCode.tag)}}">
	      			<a ng-click="goToPrintPage(i2dimCode.content, i2dimCode.tag)">打印二维码</a>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary btn-lg" code="#hmsI2DimCodesModal" id="hmsI2DimCodesModalOk" ng-click="goToPrintPage()"><i class="glyphicon glyphicon-print"></i>打印全部</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>